.employee-card {
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding: 10px;
  margin: 20px;

  flex-wrap: wrap;
  align-content: flex-start;
}
.emloyee-child-card {
  margin-bottom: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.emloyee-child-card img {
  border-radius: 4px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  height: 40px;
  font-size: 20px;
  background: #1a7ce7;
  color: white;
  border-radius: 4px;
  align-items: end;
}

.is-first {
  border-left: 2px solid rgb(206, 203, 203);
}

course-card.is-last {
  border-bottom: 2px solid grey;
  padding-top: 20px;
}

course-card.is-even {
  background: lightgray;
}

course-card.is-odd {
  background: lightcyan;
}

.course-category {
  margin-top: 15px;
}

.category {
  margin-top: 15px;
  background: lightcyan;
  font-size: 14px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 3px;
  display: inline;
}

.demo {
  max-width: 300px;
  margin: 20px auto;
  font-size: 25px;
}

.warn {
  color: red;
}

.highlighted {
  box-shadow: 0 2px 12px 0 #121111, 0 3px 8px 0 rgba(193, 190, 190, 0.47),
    0 6px 8px -1px #656262;
}
.it {
  background-color: greenyellow;
}
